/* Reset and basic layout */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}



main {
  margin-left: 240px;
  padding: 40px;
}

main h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

main h3 {
  font-weight: normal;
  color: #555;
}
